<% layout("layouts/boilerplate.ejs") -%>

<div class="container mt-5">
    <h4 class="text-center mb-3"><strong>Unlock the Gateway to Your Universe</strong></h4>

    <form action="/login" method="POST" onsubmit="disabledButton()">
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="username" class="form-label mt-3"><strong>Username</strong></label>
                <input type="text" name="username" class="form-control" id="username" required placeholder="Please Enter Your Username" maxlength="16">
                <div class="invalid-feedback">
                    Please enter your username.
                </div>
            </div>
            <div class="col-md-6">
                <label for="password" class="form-label mt-3"><strong>Password</strong></label>
                <input type="password" name="password" class="form-control" id="password" required placeholder="Please Enter Your Password">
                <div class="invalid-feedback">
                    Please enter your password.
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary submitButton"><strong>Login</strong></button>
            </div>
        </div>
    </form>
</div>
