<% layout("layouts/boilerplate.ejs") -%>
<link rel="stylesheet" href="css/user.css">
<div class="container d-flex justify-content-center mb-3">
    <div class="wrapper">
        <header>Register!</header>
        <form action="/register" method="POST" onsubmit="disabledButton()">
            <div class="field">
                <div class="input-area">
                    <div>
                        <input type="radio" id="personal" name="accountType" value="Personal" required <%= currentUser.accountType === 'Personal' ? 'checked' : '' %>>
                        <label for="personal">Student / Individual</label>
                    </div>
                    <div>
                        <input type="radio" id="business" name="accountType" value="Business" <%= currentUser.accountType === 'Business' ? 'checked' : '' %>>
                        <label for="business">Business</label>
                    </div>
                </div>
            </div>

            <div class="field">
                <div class="input-area">
                    <input type="text" name="name" placeholder="Full Name" required>
                    <i class="icon fas fa-user"></i>
                </div>
            </div>
            <div class="field">
                <div class="input-area">
                    <input type="email" name="email" placeholder="Email" required>
                    <i class="icon fas fa-envelope"></i>
                </div>
            </div>
            <div class="field">
                <div class="input-area">
                    <input type="text" name="username" placeholder="Username" required maxlength="16">
                    <i class="icon fas fa-user"></i>
                </div>
            </div>
            <div class="field">
                <div class="input-area">
                    <input type="password" name="password" placeholder="Password" required>
                    <i class="icon fas fa-lock"></i>
                </div>
            </div>
        
                <input type="submit" value="Ignite Your Presence" class="submitButton">
        </form>
        <div class="sign-txt">Already registered? <a href="/login">Log in here</a></div>
    </div>
</div>
