<% layout("layouts/boilerplate.ejs") -%>

<div class="container mt-5">
    <h3 class="text-center mb-3"><strong>Register Now for Exclusive Access!</strong></h3>

    <form action="/register" method="POST" onsubmit="disabledButton()">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="name" class="form-label"><strong>Full Name</strong></label>
                    <input type="text" name="name" class="form-control" id="name" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="email" class="form-label"><strong>Email</strong></label>
                    <input type="email" name="email" class="form-control" id="email" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="username" class="form-label"><strong>Username</strong></label>
                    <input type="text" name="username" class="form-control" id="username" required maxlength="16">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="accountType" class="form-label"><strong>Register As</strong></label>
                    <select name="accountType" class="form-select" id="accountType" required>
                        <option value="Personal" selected>Student / Individual</option>
                        <option value="Business">Business</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label for="password" class="form-label"><strong>Password</strong></label>
            <input type="password" name="password" class="form-control" id="password" required>
        </div>

        <button type="submit" class="btn btn-primary mb-3 submitButton"><strong>Ignite Your Presence</strong></button>
    </form>
</div>
