<% layout("layouts/boilerplate.ejs") -%>

<section class="bg-light py-5 rounded">
  <div class="container">
      <h2 class="text-center mb-4">Find Your Ideal Hostel with Hostellers</h2>
      <p class="lead text-center mb-4">Simplify your search for the perfect student accommodation near your college or university</p>
      <a href="/listings" class="btn btn-primary btn-lg d-block mx-auto">Explore</a>
  </div>
</section>

<!-- About Section -->
<section class="py-5 mt-5 bg-light rounded">
  <div class="container">
      <h2 class="text-center mb-4">About Hostellers</h2>
      <p class="lead text-center mb-4">Hostellers offers comprehensive hostels and flexible room options to ensure a seamless and enjoyable accommodation search experience tailored to the student lifestyle.</p>
      <a href="/about" class="btn btn-secondary btn-lg d-block mx-auto">Learn More</a>
  </div>
</section>

<!-- Contact Form Section -->
<hr class="mb-3 mt-5">
<div class="contact-form mt-5 mb-3">
    <h1 class="text-center">Get in touch with us</h1>
    <form action="">
        <label class="form-label">Name</label>
        <input type="text" placeholder="Your name" class="form-control"> <br>

        <label class="form-label">Email*</label>
        <input type="email" placeholder="Your email" class="form-control" required> <br>

        <label class="form-label">Message*</label>
        <textarea name="" id="" rows="5" required class="form-control" placeholder="Enter your message here"></textarea>
        <button class="btn btn-primary mt-2">Submit</button>
    </form>
    <br>
</div>
