<% layout("layouts/boilerplate") %>
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Terms and Conditions</h1>

            <h3>Introduction</h3>
            <p>Welcome to Hostellers. These terms and conditions outline the rules and regulations for the use of Hostellers's Website.</p>
    
            <p>By accessing this Website, we assume you accept these terms and conditions. Do not continue to use Hostellers's Website if you do not agree to take all of the terms and conditions stated on this page.</p>
                
            <p>The following terminology applies to these Terms and Conditions, Privacy Statement, and Disclaimer Notice and all Agreements: "Client," "You," and "Your" refers to you, the person log on this website and compliant to Hostellers’s terms and conditions.</p>
    
            <h3>License</h3>
            <p>Unless otherwise stated, Hostellers and/or its licensors own the intellectual property rights for all material on Hostellers. All intellectual property rights are reserved.</p>
    
            <p>You may access this from Hostellers for your own personal use subjected to restrictions set in these terms and conditions.</p>
    
            <h3>You must not:</h3>
            <ul>
                <li>Republish material from Hostellers</li>
                <li>Sell, rent, or sub-license material from Hostellers</li>
                <li>Reproduce, duplicate or copy material from Hostellers</li>
                <li>Redistribute content from Hostellers</li>
            </ul>
    
            <h3>Parts of this website may offer an opportunity for users to post and exchange opinions and information in certain areas of the website.</h3>
    
            <p>Hostellers does not filter, edit, publish, or review Comments prior to their presence on the website. Comments do not reflect the views and opinions of Hostellers,its agents, and/or affiliates.</p>
    
            <h3>Reservation of Rights</h3>
            <p>We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request.</p>
    
            <h3>Content Liability</h3>
            <p>We shall not be held responsible for any content that appears on your Website. You agree to protect and defend us against all claims that are rising on your Website.</p>
    

        </div>
    </div>
</div>
